name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: diiviikk5
          template: classic
          base: header, activity, community, repositories
          config_timezone: America/New_York
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          filename: github-metrics.svg
          output_action: commit
          committer_token: ${{ secrets.GITHUB_TOKEN }}
